<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://ulraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/Layout}" lang="pt-br">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{css/login.css}"/>
</head>
<body>
<div layout:fragment="content">

    <div>
        <form style="justify-content: center">
            <div class="container" style="align-content: center">
                <div class="login-form col-xs-10 col-xs-offset-1
col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <header>
                        <img class="img-responsive" th:src="@{/images/site.png}" style="width: 90px" src="" alt="">

                        <h2 class="text-center">Entre com seu <b>usuário</b> e <b>senha</b></h2>
                    </header>
                    <form method="post" th:action="@{/login}">
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </div>
                                    <label>
                                        <input type="text" name="username" class="form-control" placeholder="Usuário">
                                    </label>
                                    </div>
                                </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-option-horizontal"></span>
                                    </div>
                                    <label>
                                        <input type="password" name="password" class="form-control" placeholder="Senha">
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <button type="submit" class="btn btn-primary pull-right">Entrar</button>
                        <br>
                        <div id="mensageDeErro" th:if="${msg != null}">
                            <span th:text="${msg}"></span>
                        </div>
                    <br />
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</form>
</div>
</div>
</body>

</html>