<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://ulraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/Layout}" lang="pt-br">

<body>
<div layout:fragment="content">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><strong>Cadastro de OS</strong>
            </li>
            <li form th:action="@{/logout}" method="post" class="form-inline mt-2 mt-md-0">
                <div class="btn-danger">
                    <button style="color: #FFFFFF" type="submit" class="dropdown-item">Sair do Sistema</button>
                </div>
                </form>>
            </li>
        </ol>
    </nav>
    <nav class="navbar navbar-dark bg-dark">
        <a class="btn btn-success my-2 my-sm-0" th:href="@{/ordemServicos/listar}">Listar Ordens de Serviço</a>
    </nav>

    <hr/>

    <div class="container" id="cadastro">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tbody>
                <tr>
                    <td class="td-adireita"><strong>Código:</strong></td>
                    <!--/*@thymesVar id="id" type="id"*/-->
                    <td th:text="${ordemServico.id}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <a th:href="@{/ordemServicos/listar}" class="btn btn-secondary btn-sm">Voltar</a>

    </div>
</div>
</div>
</body>

</html>
