<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout/Layout}" lang="pt-br">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cadastro_perito.css}"/>
    <title>Golias</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="aw-layout-content row-cols-lg-1 js-content" layout:fragment="conteudo">
            <nav aria-label="bg-dark">
                <ol class="navbar navbar-dark bg-dark">
                    <li style="color: #FFFFFF" class="breadcrumb-item active" aria-current="page"><strong>Cadastro de Perito</strong>
                    </li>
                    <li form th:action="@{/logout}" method="post" class="form-inline mt-2 mt-md-0">
                        <div class="btn-danger">
                            <button style="color: #FFFFFF" type="submit" class="dropdown-item">Sair do Sistema</button>
                        </div>
                        </form>>
                    </li>
                </ol>
            </nav>
        </div>
        <nav class="breadcrumb">
            <a class="btn btn-success my-2 my-sm-0" th:href="@{/peritos/listar}">Lista de Peritos</a>
        </nav>

        <hr/>

        <!-- MENSAGEM A SER MOSTRADA APÓS EXECUTARMOS O POST -->
        <div class="alert alert-success" role="alert" id="mensagemDeSucesso" th:if="${msg != null}">
            <span th:text="${msg}"></span>
        </div>
        <br/>

        <!-- FORMULÁRIO -->
        <div class="container">
            <form method="post" th:action="${!editMode} ? @{/peritos/save} : @{/peritos/alterar}"
                  th:object="${perito}">
                <input type="hidden" th:field="*{id}"/>
                <fieldset>

                    <!-- CAMPO NOME -->
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="nome">Nome do Perito:</label><br/>
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome"
                                   th:field="*{nome}"
                                   th:classappend="${#fields.hasErrors('nome')} ? 'inputError': ''"/>
                            <div class="alert alert-danger" role="alert" id="mensagemDeErro"
                                 th:if="${#fields.hasErrors('nome')}">
                                <span th:errors="*{nome}"></span>
                            </div>
                        </div>
                    </div>
                        <br/>

                    <a th:href="@{/peritos/listar}" class="btn btn-secondary btn-sm">Voltar</a>
                    <!--BOTAO-->
                    <!--/*@thymesVar id="editMode" type="java"*/-->
                        <input type="submit" class="btn btn-primary btn-sm" th:value="${!editMode} ? 'Cadastrar' : 'Alterar'">
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>

